@use "../util/" as u;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
  font-size: u.rem(13);
  background-color: var(--n-light-grayish-blue);
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
p {
  font-size: u.rem(13);
  margin: 0;
}
